header h1
{
    text-align: center;
    font-family: Georgia;
    text-align: center;
    font-style: normal;
}

header h4{
    text-align: center;
    font-family: Verdana;
    font-style: italic;
}
.center
{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}